*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family:'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: azure;
}
/* styling our nav bar */
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #BE3144;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 940px;
    padding-left: 30px;
}
.nav-list {
    display: flex;
    margin-right: 2rem;
}
ul {
    list-style: none;
}
li {
    display: list-item;
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
.nav-list a:hover {
    color: aliceblue;
}
/* ------------------------- */
/* welcome section */
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #242427;
}
#welcome-section > h2 {
    font-size: 6rem;
    text-align: center;
}
#welcome-section > p {
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
    color: #8E3044;
}
/* about me section */
#about-me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #242427;
}
#about-me > h3 {
    color: lightgreen;
    font-size: 6rem;
}
#about-me > p {
    line-height: 2.7rem;
    max-width: 600px;
    margin: 0 auto;
    color: beige;
}
#about-me > p:hover {
    color: antiquewhite;
    transform: scale(1.03, 1.03);
}
/* projects section */
#projects {
    text-align: center;
    padding: 10rem 2rem;
    background: #45567D;
}
.projects-header {
    color: azure;
    font-size: 4.2rem;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.23rem solid #9AA3B7;
}
.my-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.my-projects a {
    text-decoration: none;
    color: azure;
    border: 4px solid darkgray;
}
.projects-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.projects-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    color: aquamarine;
}
